# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.buildozer/
.Python
build/
dist/
.eggs/
*.egg-info/
*.egg
MANIFEST
env/
venv/
.venv/
ENV/
pip-wheel-metadata/
*.spec
pip-log.txt
pip-delete-this-directory.txt

# Tests / coverage / type checking
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.mypy_cache/
.pytype/
.hypothesis/
.cache/

# Editors & OS
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.DS_Store
Thumbs.db

# Optional: frontend tooling (slet hvis du ikke bruger det)
node_modules/
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*
.pnp.*
.parcel-cache/
.eslintcache

# General
*.log
